<?xml version="1.0"?>
<config>
	<tabs>
		<webforms_tab translate="label" module="webforms">
			<label>Web-forms</label>
			<sort_order>99999</sort_order>
		</webforms_tab>
	</tabs> 
	<sections>
		<webforms translate="label">
			<label>Forms Settings</label>
			<tab>webforms_tab</tab>
			<frontend_type>text</frontend_type>
			<sort_order>307</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<email translate="label comment">
					<comment></comment>
					<label>E-mail settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<email translate="label comment">
							<comment>
								<![CDATA[This address will be used by default to send you new results notifications]]>
							</comment>
							<label>Default e-mail address</label>
							<frontend_type>text</frontend_type>
							<validate>validate-email</validate>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</email>
						<email_reply_to translate="label comment">
							<comment>
								<![CDATA[This address will be used in reply-to field in customer notification]]>
							</comment>
							<label>Reply-to e-mail address for customer</label>
							<frontend_type>text</frontend_type>
							<validate>validate-email</validate>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</email_reply_to>
					</fields>
				</email>
				<captcha translate="label comment">
					<comment>
						<![CDATA[In order for reCaptcha to work please enter valid public and private keys. You can get those by visiting <a href='http://www.google.com/recaptcha/whyrecaptcha' target='_blank'>this page</a>]]>
					</comment>
					<label>reCaptcha settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<public_key translate="label">
							<label>Public key</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</public_key>
						<private_key translate="label">
							<label>Private key</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</private_key>
					</fields>
				</captcha>
				<results translate="label comment">
					<comment></comment>
					<label>Results settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<fieldname_display_limit translate="label comment">
							<label>Field name display length</label>
							<comment>
								<![CDATA[This will limit long field names in results table. It doesn`t affect export]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</fieldname_display_limit>
					</fields>
				</results>
			</groups>
		</webforms>
	</sections>
</config>