<?xml version ="1.0"?>
<config>
	<modules>
		<Rks_Helloworld>
			<version>0.1.0</version>
		</Rks_Helloworld>
	</modules>

	<frontend>
		<routers>
			<helloworld>
				<use>standard</use>
				<args>
				<module>Rks_Helloworld</module>
				<frontName>helloworld</frontName>
				</args>
			</helloworld>
		</routers>

<layout>
	<updates>
		<helloworld>
			<file>helloworld.xml</file>
		</helloworld>
	</updates>
</layout>

	</frontend>

<global>
	<blocks>
		<helloworld>
			<class>Rks_Helloworld_Block</class>
		</helloworld>
	</blocks>
</global>


</config>